<div class="container">


  <div *ngIf="product" class="mt-4">
    <h2 class="text-primary">Edit Product</h2>
    <form (ngSubmit)="updateProduct()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" required class="form-control">
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="product.price" name="price" required class="form-control">
      </div>
      <div>
        <label for="category">Category:</label>
        <input type="text" id="category" [(ngModel)]="product.category" name="category" required class="form-control">
      </div>
      <div>
        <label for="state">State:</label>
        <input type="text" id="state" [(ngModel)]="product.state" name="state" required class="form-control">
      </div>
      <div>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" [(ngModel)]="product.amount" name="amount" required class="form-control">
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="product.description" name="description" required class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary m-2">Update</button>
      <button (click)="goBack()" class="btn btn-secondary">Atrás</button>
    </form>
  </div>
</div>


