<div class="container">
  <h2 class="text-primary">Create Product</h2>

  <form (ngSubmit)="createProduct(productForm.value)" #productForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" ngModel required class="form-control">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" ngModel required class="form-control">
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" ngModel required class="form-control">
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <input type="text" id="state" name="state" ngModel required class="form-control">
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" id="amount" name="amount" ngModel required class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" ngModel required class="form-control"></textarea>
    </div>
    <div class="mt-4">
    <button type="submit" class="btn btn-primary m">Create</button>

    <button (click)="goBack()" class="btn btn-secondary m-2">Back</button>
    </div>
  </form>
</div>
